<!-- 
    Author: Sean O'Brien
    Create Date: 08/20/2018
    Modifity Date: 08/20/2018
-->
<section id="backLayer">
    <mat-toolbar color="primary">
        <button id="navButton" mat-icon-button (click)="TogglePhoneMenu()"><i id="navIcon" class="fas fa-bars"></i></button>
        <svg></svg>
        <h1>Bleistift</h1>
    </mat-toolbar>
    <mat-nav-list id="nav">
        <mat-list-item *ngFor="let nav of navList; let i = index"  [routerLinkActive]="['active']" >
            <mat-divider *ngIf="i == 5"></mat-divider>
            <a matLine [routerLink]="nav.link">{{nav.name}}</a>
        </mat-list-item>
    </mat-nav-list>
</section>
<section id="mediumSizeLayer">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <svg></svg>
            <h4>Bleistift</h4>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <nav mat-tab-nav-bar color="accent" >
                <a mat-tab-link *ngFor="let nav of navList" [routerLink]="nav.link" routerLinkActive  #rla="routerLinkActive" [active]="rla.isActive">
                    {{nav.name}}
                </a>
            </nav>
        </mat-toolbar-row>
    </mat-toolbar>
</section>
<main id="main">
    <nav>
           <div class="column">
                <div>
                    <svg></svg>
                </div>
                <div>
                   <h1>Bleistift</h1>
               </div>
           </div>
           <div class="column">
                <mat-nav-list>
                    <mat-list-item *ngFor="let nav of navList; let i = index"  [routerLinkActive]="['active']" >
                        <mat-divider *ngIf="i == 5"></mat-divider>
                        <a matLine [routerLink]="nav.link">{{nav.name}}</a>
                    </mat-list-item>
                </mat-nav-list>
           </div>
    </nav>
    <article>
        <router-outlet></router-outlet>
    </article>
    <section id="pc">
        <div class="column">
            <div>
                <button mat-icon-button (click)="Filter.Open()"><i class="fas fa-sliders-h"></i></button>
            </div>
            <span class="fx-auto"></span>
            <div>
                <div class="row shoppingCartTabContainer">
                    <div class="shoppingCartTabCorner">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>
                <div class="shoppingCartTabItems">
                    
                </div>
            </div>
        </div>
    </section>
    
    
</main>
<section id="mobile">
        <div class="row">
            <div class="fx-50" >
                <button mat-icon-button (click)="Filter.Open()"><i class="fas fa-sliders-h"></i></button>
            </div>
            <div class="fx-50" >
                <div class="row fx-flex-end">
                    <div class="row shoppingCartTabContainer">
                        <div class="shoppingCartTabCorner">
                            <i class="fas fa-shopping-cart"></i>
                        </div>
                    </div>
                    <div class="shoppingCartTabItems">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
<app-filter></app-filter>
