<section id="filter">
        <div id="filterContent">
            <mat-toolbar>
                <mat-toolbar-row>
                        <button id="navButton" mat-icon-button (click)="Close()" ><i class="fas fa-times"></i></button>
                        <h3>Filter</h3>
                        <span class="fx-auto"></span>
                        <i class="fas fa-sliders-h"></i> 
                        
                </mat-toolbar-row>
            </mat-toolbar>
            <div class="group">
                <h4>Category</h4>
            
                <mat-chip-list>
                    <mat-basic-chip *ngFor="let category of categoryList; let i = index;" [class.selected]="categoryList[i].selected" (click)="UpdateCategoryQuery(i)" >
                        {{category.name}}
                    </mat-basic-chip>
                </mat-chip-list>
            </div>
            <div class="group">
                <div class="row">
                    <h4>Budget Range <b>$0.00 - {{maxPriceLimit | currency}}</b></h4>
                </div>
                <mat-slider [(ngModel)]="maxPriceLimit" [max]="200" [step]="10" min="0" (change)="UpdateResult()"></mat-slider>
            </div>
            <div class="group">
                <h4>Max Set Size Range 1 - {{maxSetRange}}</h4>
                <mat-chip-list>
                    <mat-basic-chip *ngFor="let size of setRangeList; let i = index" [class.selected]="setRangeList[i].selected" (click)="UpdateMaxSetRange(i)" >
                        {{size.name}}
                    </mat-basic-chip>
                    
                </mat-chip-list>
            </div>
            
            <div class="group">
                <h4>Brand</h4>
                <mat-chip-list>
                    <mat-basic-chip *ngFor="let brand of brandList; let i = index" [class.selected]="brandList[i].selected" (click)="UpdateBrandQuery(i)"> 
                        {{brand.name}}
                    </mat-basic-chip>
                    
                </mat-chip-list>
            </div>
            <div class="row">
                <button mat-raised-button color="accent" (click)="ShowResultPage()">Show {{showResult}} Results </button>
            </div>
        </div>
    </section>