<div class="skirt" [ngClass]="skirtClass" >
    <section id="filter" [ngClass]="filterClass">
        <section>
            <mat-toolbar color="primary">
                <button mat-icon-button (click)="ToggleFilter()"><i class="fas fa-times"></i></button>
                <h3>Filter</h3>
                <div class="fx-auto"></div>
                <i class="fas fa-sliders-h"></i> 
            </mat-toolbar>
            <section class="group">
                <mat-toolbar color="primary">
                    <h4>Category</h4>
                </mat-toolbar>
                <div>
                    <mat-chip-list>
                        <mat-basic-chip *ngFor="let category of categoryList; let i = index;" [class.selected]="categoryList[i].selected" (click)="UpdateCategoryQuery(i)" >
                            {{category.name}}
                        </mat-basic-chip>
                    </mat-chip-list>
                </div>
            </section>
            <section class="group">
                <mat-toolbar color="primary">
                    <h4>Budget Range </h4>
                </mat-toolbar>
                <div>
                    <h3 style="line-height:3;"><b>$0.00 - {{maxPriceLimit | currency}}</b></h3>
                    <mat-slider class="fx-auto" [(ngModel)]="maxPriceLimit" [max]="200" [step]="10" min="0" (change)="UpdateResult()"></mat-slider>
                </div>
            </section>
            <section class="group">
                <mat-toolbar color="primary">
                    <h4>Max Set Size Range (1 to {{maxSetRange}})</h4>
                </mat-toolbar>
                <div>
                    <mat-chip-list>
                        <mat-basic-chip *ngFor="let size of productSetRangeList; let i = index" [class.selected]="productSetRangeList[i].selected" (click)="UpdateMaxSetRange(i)" >
                            {{size.name}}
                        </mat-basic-chip>
                        
                    </mat-chip-list>
                </div>
            </section>
            <section class="group">
                <mat-toolbar color="primary">
                    <h4>Product Brands</h4>
                </mat-toolbar>
                <div>
                    <mat-chip-list>
                        <mat-basic-chip *ngFor="let brand of productBrandList; let i = index" [class.selected]="productBrandList[i].selected" (click)="UpdateBrandQuery(i)"> 
                            {{brand.name}}
                        </mat-basic-chip>
                        
                    </mat-chip-list>
                </div>
            </section>
           <div class="row">
                <button class="fx-100" mat-raised-button color="accent" (click)="ShowResultPage()">Show {{showResult}} Results </button>
            </div>
        </section>
    </section>
</div>