<div id="productInfo">
    <div id="ImgContainer" class="column">
         <img src="../../assets/images/pencil/graphite/derwentGraphicHardSet.jpg">
         <div class="row">
              <div>
                  xx
              </div>
              <div class="fx-auto"></div>
              <div>
                  O
                  O
                  O
              </div>
         </div>
    </div>
    <div id="productContent">
        <div class="row" style="align-content: center">
            <div class="row">
                <mat-basic-chip>D</mat-basic-chip>
                <h5>Derwent</h5>
            </div>
            <div class="fx-auto"></div>
            <div>
                <h2>$14.63</h2>
            </div>
        </div>
    </div>
</div>