<div id="productInfo" *ngFor="let product of productList">
    
    <div id="ImgContainer" class="column">
        <div class="row" id="actionBar">
            <button mat-icon-button><i class="fas fa-times"></i></button>
            <div class="fx-auto"></div>
            <button mat-icon-button><i class="fas fa-cart-plus"></i></button>
            <button mat-icon-button><i class="far fa-heart"></i></button>
        </div>
        <img [src]="product.image">
         <div class="row">
              
              <div class="fx-auto"></div>
              <div id="slideShowActionBar">
                <i class="fas fa-circle"></i>
                <i class="fas fa-circle"></i>
                <i class="fas fa-circle"></i>
              </div>
         </div>
    </div>
    <div id="productContent">
        <div class="row" >
            <div>
                <h5 style="line-height: 3;">{{product.company}}</h5>
            </div>
            <div class="fx-auto"></div>
            <div>
                <h2>{{product.price | currency}}</h2>
            </div>
        </div>
        <div class="column">
            <h1>{{product.name}}</h1>
        </div>
        <div class="column" id="productDiscription" *ngFor="let discription of product.discription">
            <div>{{discription}}</div>
        </div>
    </div>
</div>