<div id="productInfo" >
    
    <div id="ImgContainer" class="column">
        <div class="row" id="actionBar">
            <button mat-icon-button><i class="fas fa-times"></i></button>
            <div class="fx-auto"></div>
            <button mat-icon-button [matMenuTriggerFor]="quantity"><i class="fas fa-cart-plus"></i></button>
            <button mat-icon-button><i class="far fa-heart"></i></button>
        </div>
        <img [src]="productItem.image">
         <div class="row">
              
              <div class="fx-auto"></div>
              <div id="slideShowActionBar">
                <i class="fas fa-circle"></i>
                <i class="fas fa-circle"></i>
                <i class="fas fa-circle"></i>
              </div>
         </div>
    </div>
    <div id="productContent">
        <div class="row" >
            <div>
                <h5 style="line-height: 3;">{{productItem.company}}</h5>
            </div>
            <div class="fx-auto"></div>
            <div>
                <h2>{{productItem.price | currency}}</h2>
            </div>
        </div>
        <div class="column">
            <h1>{{productItem.name}}</h1>
        </div>
        <div class="column" id="productDiscription" *ngFor="let discription of productItem.discription">
            <div>{{discription}}</div>
        </div>
    </div>
</div>
<mat-menu #quantity="matMenu">
        <div style="padding: 5px;">
            <div class="row quantity" style="justify-content: center;">
                    <button mat-icon-button (click)="$event.stopPropagation(); Dec();"><i class="fas fa-minus"></i></button>
                    <div (click)="$event.stopPropagation();"><app-counter [count]="quantityCount"></app-counter></div>
                    <button mat-icon-button (click)="$event.stopPropagation(); Add();"><i class="fas fa-plus"></i></button>
            </div>
            <div class="column fx-center">
                <button mat-raised-button color="accent" (click)="AddToCartTab()">Add To Cart</button>
            </div>
        </div>
        
</mat-menu>