<div class="skirt" [ngClass]="skirtClass">
    <div id="fullDetailShoppingCart" [ngClass]="cartClass">
        <section >
            <mat-toolbar color="primary" class="mat-elevation-z1">
                <button mat-icon-button (click)="ToggleFullCart()"><i class="fas fa-angle-right"></i></button>
                <h3>CART</h3>
                <div class="fx-auto"></div>
                <i class="fas fa-shopping-cart"></i> 
            </mat-toolbar>
            <section class="group">
                <mat-toolbar color="primary">
                    <h2>Current</h2>
                    <span class="fx-auto"></span>
                    <h3>{{cartItems.length}} Items</h3>
                </mat-toolbar>
                <div class="column">
                    <h3 *ngIf="cartItems.length == 0">Sorry, dont have any product in your cart</h3>
                    <div class="productHolder " *ngIf="cartItems.length != 0">
                        <div class="row fx-100 productItem"  *ngFor="let item of cartItems; let i = index; trackBy: i">
                            <div class="productRemover">
                                <button mat-icon-button (click)="RemoveFromCart(i)"><i class="fas fa-minus-circle"></i></button>
                            </div>
                            <div class="productImg">
                                <img [src]="item.image">
                            </div>
                            <div class="column fx-auto">
                                <div class="row fx-left ">
                                    <div class="companyName">
                                        <b>{{item.company}}</b>
                                    </div>
                                    <div class="productPrice">
                                        {{item.price * item.quantity | currency}}
                                    </div>
                                </div>
                                <div class="row fx-left">
                                    <div class="productName" matTooltip="{{item.name}}">
                                        {{item.shorten}}
                                    </div>
                                    
                                </div>
                                <div class="row quantity fx-left">
                                        <button mat-icon-button (click)="Min(i)"><i class="fas fa-minus"></i></button>
                                        <div><app-counter [count]="item.quantity"></app-counter></div>
                                        <button mat-icon-button (click)="Plus(i)"><i class="fas fa-plus"></i></button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>
            <section class="group" *ngIf="cartItems.length != 0">
                <mat-toolbar color="primary">
                    Current Cart Cost Total
                </mat-toolbar>
                <div class="column">
                    <div class="row fx-vertical-align">
                        <div class="fx-50">
                            <h3>Total</h3>
                        </div>
                        <div class="fx-50 fx-text-end" >
                            <h2>{{total | currency}}</h2>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <br>
                    <div class="row fx-vertical-align">
                        <div class="fx-50">
                            <p><i>Sub Total</i></p>
                        </div>
                        <div class="fx-50 fx-text-end">
                            <p>{{subTotal | currency}}</p>
                        </div>
                    </div>
                    <div class="row fx-vertical-align">
                        <div class="fx-50">
                            <p><i>Shipping</i></p>
                        </div>
                        <div class="fx-50 fx-text-end">
                            <p>{{shippingTotal | currency}}</p>
                        </div>
                    </div>
                    <div class="row fx-vertical-align">
                        <div class="fx-50">
                            <p><i>Sale Tax</i></p>
                        </div>
                        <div class="fx-50 fx-text-end">
                            <p>{{taxTotal | currency}}</p>
                        </div>
                    </div>
                    <button color="accent" mat-raised-button>Proceed Check Out</button>
                </div>
            </section>
        </section>
    </div>
</div>