/*
*   Author: Sean O'Brien
*   Create Date: 08/20/2018
*   Modifly Date: 08/25/2018
*   Discription: This where going host all our custom rules and modifcation to Google Material API to make more out the box API
*/
/*
*   modifcation to Materal 
*/

@import 'theme';

$mainColor: rgba(66,164,245,1);
$secondaryColor : rgba(255,171,55,1);

html, body
{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

//define fx class
.column
{
    display: flex;
    flex-direction: column;
}
.row
{
    display: flex;
    flex-flow: row wrap;
}
.fx-10
{
    flex: 10%;
}
.fx-50
{
    flex: 50%;
}
.fx-100
{
    flex: 100%;
}
.fx-25
{
    flex:25%;
}
.fx-75
{
    flex: 75%;
}
.fx-auto
{
    display: flex;
    flex: auto;
}

.fx-flex-end
{
    justify-content: flex-end;
}
.fx-flex-start
{
    justify-content: flex-start;
}


//backlayer css

#backLayer
{
    background-color: $mainColor;
    min-height: 100vh;
    z-index: 1;
}

#backLayer > mat-toolbar > svg
{
    background-image: url('./assets/images/pencil.svg');
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 50px;
    height: 50px;
    margin-right: 12px;
}

#backLayer > mat-nav-list > mat-list-item.active
{
    background-color: $secondaryColor;
}

/***********************************
*   Medium Size Nav
************************************/
#mediumSizeLayer
{
    padding-bottom: 40px;
    background-color: $mainColor
}

.openDropDownNav
{
    animation-name: OpenDropDownNav;
    -moz-animation-name: OpenDropDownNav;
    -webkit-animation-name: OpenDropDownNav;
    -moz-animation-duration: 200ms;
    -webkit-animation-duration: 200ms;
    animation-duration: 200ms;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.0, 1, 1);
    -moz-animation-timing-function: cubic-bezier(0.4, 0.0, 1, 1);
    animation-timing-function: cubic-bezier(0.4, 0.0, 1, 1);
}
.closeDropDownNav
{
    animation-name: CloseDropDownNav;
    -moz-animation-name: CloseDropDownNav;
    -webkit-animation-name: CloseDropDownNav;
    animation-duration: 300ms;
    -moz-animation-duration: 300ms;
    -webkit-animation-duration: 300ms;
    -webkit-animation-timing-function:  cubic-bezier(0.0, 0.0, 0.2, 1);
    -moz-animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
    animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}
.iconRotate
{
    animation-name: IconRotate;
    -moz-animation-name: IconRotate;
    -webkit-animation-name: IconRotate;
    animation-duration: 200ms;
    -moz-animation-duration: 200ms;
    -webkit-animation-duration: 200ms;
    -webkit-animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
    -moz-animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
    animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

#mediumSizeLayer > mat-toolbar > mat-toolbar-row > svg
{
    background-image: url('./assets/images/pencil.svg');
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 50px;
    height: 50px;
    margin-right: 12px;
}
#mediumSizeLayer > mat-toolbar > mat-toolbar-row > nav.mat-tab-nav-bar
{
    width: 100%;
    display: flex;
    justify-content: center;
}
#mediumSizeLayer > mat-toolbar > mat-toolbar-row > nav.mat-tab-nav-bar > div.mat-tab-links > a.mat-tab-link
{
    padding-left: 12px;
    padding-right: 12px;
    min-width: 100px;
}



/*************************************
*   Log In CSS
**************************************/

#log
{
    width: 100%;
    justify-content: center;
    
    text-align: center;
}
#log > h1
{
    position: relative;
    top: -60px;
}

#log > svg
{
    background-image: url('./assets/images/pencil.svg');
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    background-size: 100px;
    width: 150px;
    height: 150px;
    padding-top: 80px;

}

/**************************
*   Shopping Cart CSS
**************************/

.shoppingCartTabContainer
{
    height: 55px;
    line-height: 55px;
}
.shoppingCartTabCorner
{
    height: 55px;
    width: 55px;
    background-color: $secondaryColor;
    display: flex;
    justify-content: center;
    align-items: center;
}
/**********************************
*   Filter CSS
**********************************/
#filter
{
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    top: 0;
    background-color: $secondaryColor;
}
#filterContent
{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    overflow-y: scroll;
    background-color: rgba(255,255,255,.85);

}
#filterContent > mat-toolbar
{
    background-color: transparent !important;
    position: static;
    
}
#filterContent > mat-toolbar > mat-toolbar-row
{
    border-bottom:  1px solid rgba(0, 0, 0, 0.16);
}
#filterContent > mat-toolbar > mat-toolbar-row > h6
{
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    z-index: 1;
}
#filterContent > mat-toolbar > mat-toolbar-row > button
{
    
    z-index: 5;
}
#filterContent > .group
{
    display: flex;
    flex-direction: column;
    border-bottom:  1px solid rgba(0, 0, 0, 0.16);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 9px;
    padding-bottom: 9px;
}
#filterContent > div.row
{
    padding-top: 9px;
    padding-bottom: 9px;
    display: flex;
    width: 100%;
    justify-content: center;
}
#filterContent > div.row > button
{
    min-width: 350px;
}
mat-basic-chip
{
    height: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: .75px solid rgba(0, 0, 0, .12);
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 6px;
    margin: 4px;
    text-transform: uppercase;
}
mat-basic-chip.selected
{
    border: .75px solid $secondaryColor;
    background-color: rgba(255,171,55,.25);
    
}
mat-basic-chip:active, mat-basic-chip:hover
{
    background-color: rgba(255,171,55,.25);
    cursor: pointer;
}

.CloseFilterModel
{   
    position: absolute;
    left: 100vw;
    display: block;
    animation-name: FilterModelClose;
    -moz-animation-name: FilterModelClose;
    -webkit-animation-name: FilterModelClose;
    animation-duration: 450ms;
    -moz-animation-duration: 450ms;
    -webkit-animation-duration: 450ms;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -moz-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.OpenFilterModel
{
    position: absolute;
    right: 0;
    display: block;
    animation-name: FilterModelOpen;
    -moz-animation-name: FilterModelOpen;
    -webkit-animation-name: FilterModelOpen;
    animation-duration: 400ms;
    -moz-animation-duration: 400ms;
    -webkit-animation-duration: 400ms;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    -moz-animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}


div.card 
{
    background-color: white;
    margin: 6px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.26);
    padding-top: 6px;

    display: flex;
    border-radius: 4px;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}


div.card.selectable:hover, div.card.selectable:active
{
    background-color: rgba(255,255,255,.88);
    cursor: pointer;
}


/***********************************
*   Shopping Cart 
************************************/
#shoppingCart
{
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    top: 0;
    background-color: $secondaryColor;
}
#shoppingCartContent
{
    background-color: rgba(255,255,255,.88);
    height: 100%;
    width: 100%;
    position: absolute;
}

#shoppingCartContent > mat-toolbar
{
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

#shoppingCartContent > .group
{
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 9px;
    padding-bottom: 9px;
}
#shoppingCartContent > div.group > div.column.fx-10
{
    justify-content: center;
    align-content: center;
    align-items: center;
}
#shoppingCartContent > div.group > div.column.fx-25
{
    justify-content: center;
    align-content: center;
    align-items: center;
}
#shoppingCartContent > div.group > div.column.fx-50
{
    align-content: flex-start;
}
.price
{
    text-align: end;
}

/**********************************
*   Custom product item
**********************************/
mat-grid-list
{
    padding-top:  12px;
    margin-bottom: 12px;
}
mat-grid-tile
{
    background-color: white;
    cursor: pointer;
}
.mat-grid-tile .mat-grid-tile-footer, .mat-grid-tile .mat-grid-tile-header
{
    height: 66px !important;
}
.matTooltipClass
{
    background-color: $secondaryColor;
    color: black !important;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.56);
}

#productInfo
{
    background-color: rgba(255,255,255,.55);
    width: 100%;
}
#ImgContainer 
{
    background-color: rgba(0,0,0,.75);
}
#productInfo > div#ImgContainer >img
{
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}
#productInfo > #productContent
{
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
}
div#productDiscription > div
{
    padding-bottom: 5px;
}
#actionBar
{
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
    color: white;
}
#slideShowActionBar
{
    color: white;
    font-size: 8px;
    margin-right: 15px;
    margin-bottom: 5px;
}
#slideShowActionBar > i
{
    padding-left: 5px;
}
.mat-figure > img
{
    height: 100%;
}



/***********************************
*   Custom Animation CSS
************************************/
@keyframes OpenDropDownNav
{
    from
    {
        top: 60px;
    }
    to
    {
        top: 400px;
    }
}
@keyframes CloseDropDownNav
{
    from
    {
        top: 400px;
    }
    to
    {
        top: 60px;
    }
}
@keyframes IconRotate
{
    from
    {
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to
    {
        transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
}

@keyframes FilterModelClose
{
    
    0%
    {
        left: 0;
    }
    
    99%
    {
        left: 99%;
        display: none;
    }
    100%
    {
        left: 100%;
        display: none;
    }
}
@keyframes FilterModelOpen
{
    from
    {
        left: 100%;
    }
    to
    {
        left: 0;
    }
}

/*************************************
*    X-SMALL
**************************************/
@media only screen and (max-width: 449.25px)
{
    #backLayer
    {
        display: block;
    }
    //hidding the not need ui for other sizes
    #mediumSizeLayer, section#pc, nav
    {
        display: none;
    }
    #nav
    {
        opacity: 0;
    }
    main
    {
        position: absolute;
        top: 60px;
        width: 100%;
        height: calc(100% - 56px - 60px);
        background-color: rgba(255,255,255,.85);
        box-shadow: 0px -1.5px 0px 0px rgba(0, 0, 0, 0.26);
    }
    section#mobile
    {
        position: absolute;
        top: calc(100vh - 56px);
        width: 100vw;
        line-height: 56px;
        background-color: $mainColor;
        box-shadow: 0px -1.5px 0px 0px rgba(0, 0, 0, 0.26);
    }
    article
    {
        height: 100%;
        overflow-y: scroll;
        margin-bottom: 120px;
    }
    
    div.card > div.row
    {
        display: flex;
        justify-content: center;
    }
    div.card > div.row > div.column
    {
        padding-left: 12px;
        padding-right: 12px;
    }
    div.card > div.row > div.column > div.row
    {
        display: flex;
        text-align: center;
    }
    div.card > div.row > div.preview > img
    {
        width: auto;
        height: auto;
        max-width: 200px;
        max-height: 200px;
    }
    div.card > div.column > div.large > img
    {
        width: auto;
        height: auto;

        max-width: 328px;
        height: 328px;
    }
    div.card > div.column > div.large
    {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    div.card > div.column 
    {
        padding-left: 12px;
        padding-right: 12px;
    }

    #shoppingCartContent > div.group > div.column > div.preview > img
    {
        width: auto;
        height: auto;
        max-width: 100px;
        max-height: 100px;
    }
}

/**************************************
*   SMALL
**************************************/
@media only screen and (min-width: 450px ) and (max-width: 767.25px)
{

    #backLayer
    {
        display: block;
    }
    //hidding the not need ui for other sizes
    #mediumSizeLayer,section#pc, nav
    {
        display: none;
    }

    #nav 
    {
        opacity: 0;
    }

    main
    {
        position: absolute;
        top: 60px;
        width: 100vw;
        height: calc(100% - 56px - 60px);
        background-color: rgba(255,255,255,.85);
        box-shadow: 0px -1.5px 0px 0px rgba(0, 0, 0, 0.26);
    }
    section#mobile
    {
        position: absolute;
        top: calc(100vh - 56px);
        width: 100%;
        line-height: 56px;
        background-color: $mainColor;
        box-shadow: 0px -1.5px 0px 0px rgba(0, 0, 0, 0.26);
    }
    article
    {
        height: 100%;
        overflow-y: scroll;
        margin-bottom: 120px;
    }
    .groupListing
    {
        min-height: 200px;
        background-color: white;
        padding: 9px;
        margin-bottom: 9px;
        margin-top: 9px;
        border-radius: 4px;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
        display: flex;
        justify-content: center;
    }

    article
    {
        padding-left: 12px;
        padding-right: 12px;

        overflow-y: scroll;
    }
    div.card > div.row
    {
        display: flex;
        justify-content: center;
    }
    div.card > div.row > div.column
    {
        padding-left: 12px;
        padding-right: 12px;
        
        
    }
    div.card > div.row > div.column > div.row
    {
        display: flex;
        text-align: center;
        
    }
    div.card > div.row > div.preview > img
    {
        width: auto;
        height: auto;
        max-width: 200px;
        max-height: 200px;
    }
    div.card > div.column > div.large > img
    {
        width: auto;
        height: auto;

        max-width: 328px;
        height: 328px;
    }
    div.card > div.column > div.large
    {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    div.card > div.column 
    {
        padding-left: 12px;
        padding-right: 12px;
    }

    #shoppingCartContent > div.group > div.column > div.preview > img
    {
        width: auto;
        height: auto;
        max-width: 100px;
        max-height: 100px;
    }
}

/**************************************
*   Medium
**************************************/
@media only screen and (min-width: 768px ) and (max-width: 1079.25px)
{
    
    #mediumSizeLayer
    {
        display: block;
        height: 100vh;
    }

    //hidding the not need ui for other sizes
    #backLayer, section#pc, nav
    {
        display: none;
    }
    main
    {
        position: absolute;
        top: 130px;
        width: 100%;
        height: calc(100% - 56px - 130px);
        background-color: rgba(255,255,255,.85);
        box-shadow: 0px -1.5px 0px 0px rgba(0, 0, 0, 0.26);
    }
    section#mobile
    {
        position: absolute;
        top: calc(100vh - 56px);
        width: 100vw;
        line-height: 56px;
        background-color: $mainColor;
        box-shadow: 0px -1.5px 0px 0px rgba(0, 0, 0, 0.26);
    }
    article
    {
        height: 100%;
        overflow-y: scroll;
        margin-bottom: 120px;
        padding-left: 12px;
        padding-right: 12px;
    }

    div.card > div.row
    {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        padding-left: 12px;
        padding-right: 12px;
        align-items: center;
        
    }
    div.card > div.row > div.column
    {
        padding-left: 12px;
        padding-right: 12px;
    }
    div.card > div.row > div.column > div.row
    {
        display: flex;
        text-align: center;
    }
    div.card > div.row > div.preview > img
    {
        width: auto;
        height: auto;

        max-width: 200px;
        height: 200px;
    }
    div.card > div.column > div.large > img
    {
        width: auto;
        height: auto;
        max-width: 600px;
        max-height: 600px;
    }
    div.card > div.column > div.large
    {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    div.card > div.column 
    {
        padding-left: 12px;
        padding-right: 12px;
    }

    #shoppingCartContent > div.group > div.column > div.preview > img
    {
        width: auto;
        height: auto;
        max-width: 200px;
        max-height: 200px;
    }
}

/**************************************
*   Large
**************************************/
@media only screen and (min-width: 1080px )
{
    //hidding the not need ui for other sizes
    #backLayer, #mediumSizeLayer, section#mobile
    {
        display: none;
    }
    main
    {
        background-color: $mainColor;
        height: 100vh;
        display: flex;
        width: 100%;
        box-shadow: 0 0 0 0 ;
    }
    article
    {
        flex: 80%;
        background-color: rgba(255,255,255,.85);
        box-shadow: -1.5px 0px 2px 0px rgba(0, 0, 0, 0.26);
    }
    main > nav
    {
        flex: 20%;
        background-color: $mainColor;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
    nav > div.column > div > svg
    {
        background-image: url('./assets/images/pencil.svg');
        background-position: center;
        background-repeat: no-repeat;
        transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        background-size: 40px;
        width: 50px;
        height: 50px;
        padding-top: 180px;

    }
    nav > div.column > div > h1
    {
        position: relative;
        top: -100px;
    }
    nav > div.column > mat-nav-list
    {
        position: relative;
        top: -100px;
    }
    #main > nav > div.column > mat-nav-list > mat-list-item.active
    {
        background-color: $secondaryColor;
    }
    main > section#pc 
    {
        box-shadow: -1.5px 0px 0px 0px rgba(0, 0, 0, 0.26);
    }
    main > section#pc > div.column
    {
        height: 99vh;
        width: 56px;
        padding-top: 12px;
        padding-bottom: 12px;
        align-items: center;
    }
    article
    {
        padding-left: 12px;
        padding-right: 12px;

        overflow-y: scroll;
    }
    div.card > div.row
    {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        padding-left: 12px;
        padding-right: 12px;
        align-items: center;
    }
    div.card > div.row > div.column
    {
        padding-left: 12px;
        padding-right: 12px;
    }
    div.card > div.row > div.column > div.row
    {
        display: flex;
        text-align: center;
    }
    div.card > div.row > div.preview > img
    {
        width: auto;
        height: auto;

        max-width: 200px;
        height: 200px;
    }
    div.card > div.column > div.large > img
    {
        width: auto;
        height: auto;

        max-width: 700px;
        max-height: 700px;
    }
    div.card > div.column > div.large
    {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    div.card > div.column 
    {
        padding-left: 12px;
        padding-right: 12px;
    }
    
    #shoppingCartContent > div.group > div.column > div.preview > img
    {
        width: auto;
        height: auto;
        max-width: 250px;
        max-height: 250px;
    }
}