/*
*   Author: Sean O'Brien
*   Create Date: 08/20/2018
*   Modifly Date: 08/21/2018
*   Discription: This where going host all our custom rules and modifcation to Google Material API to make more out the box API
*/
@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400,500');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$font : 'Exo 2','Roboto', sans-serif;

$mainColor: rgba(66,164,245,1);
$secondaryColor : rgba(255,171,55,1);

/*
*   modifcation to Materal 
*/
@import 'theme';


html, body
{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

//define fx class
.column
{
    display: flex;
    flex-direction: column;
}
.row
{
    display: flex;
    flex-flow: row wrap;
}

.fx-50
{
    width: 50%;
}

.fx-flex-end
{
    justify-content: flex-end;
}
.fx-flex-start
{
    justify-content: flex-start;
}


//backlayer css

#backLayer
{
    background-color: $mainColor;
    min-height: 100vh;
    z-index: 1;
}

#backLayer > mat-toolbar > svg
{
    background-image: url('./assets/images/pencil.svg');
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(45deg);
    width: 50px;
    height: 50px;
    margin-right: 12px;
}

#backLayer > mat-nav-list > mat-list-item.active
{
    background-color: $secondaryColor;
}

// Medium Size Nav and title aka mediumSizeLayer
#mediumSizeLayer
{
    padding-bottom: 40px;
    background-color: $mainColor
}

.open
{
    animation-name: OpenDropDownNav;
    animation-duration: 200ms;
    animation-timing-function: cubic-bezier(0.4, 0.0, 1, 1);
}
.close
{
    animation-name: CloseDropDownNav;
    animation-duration: 300ms;
    animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}
.iconRotate
{
    animation-name: IconRotate;
    animation-duration: 200ms;
    animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}
#mediumSizeLayer > mat-toolbar > mat-toolbar-row > svg
{
    background-image: url('./assets/images/pencil.svg');
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(45deg);
    width: 50px;
    height: 50px;
    margin-right: 12px;
}
#mediumSizeLayer > mat-toolbar > mat-toolbar-row > nav.mat-tab-nav-bar
{
    width: 100%;
    display: flex;
    justify-content: center;
}
#mediumSizeLayer > mat-toolbar > mat-toolbar-row > nav.mat-tab-nav-bar > div.mat-tab-links > a.mat-tab-link
{
    padding-left: 12px;
    padding-right: 12px;
    min-width: 100px;
}



//css for log in


#log
{
    width: 100%;
    justify-content: center;
    
    text-align: center;
}
#log > h1
{
    position: relative;
    top: -60px;
}

#log > svg
{
    background-image: url('./assets/images/pencil.svg');
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(45deg);
    background-size: 100px;
    width: 150px;
    height: 150px;
    padding-top: 80px;

}

.shoppingCartTabContainer
{
    height: 55px;
    line-height: 55px;
}
.shoppingCartTabCorner
{
    height: 55px;
    width: 55px;
    background-color: $secondaryColor;
    display: flex;
    justify-content: center;
    align-items: center;
}

//all animation
@keyframes OpenDropDownNav
{
    from
    {
        top: 60px;
    }
    to
    {
        top: 400px;
    }
}
@keyframes CloseDropDownNav
{
    from
    {
        top: 400px;
    }
    to
    {
        top: 60px;
    }
}
@keyframes IconRotate
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(180deg);
    }
}

/*************************************
*    X-SMALL
**************************************/
@media only screen and (max-width: 449.25px)
{
    #backLayer
    {
        display: block;
    }
    //hidding the not need ui for other sizes
    #mediumSizeLayer
    {
        display: none;
    }
    #nav
    {
        opacity: 0;
    }
    main
    {
        width: 100%;
        position: absolute;
        top: 60px;
        background-color: rgba(255,255,255,.85);
        min-height: 100vh;
        padding-bottom: 75px;
    }
    main > section#mobile
    {
        position: sticky;
        top: calc(100vh - 56px);
        height: 56px;
        padding-left: 16px;
        line-height: 56px;
        background-color: rgba(66,164,245,.85);
        box-shadow: 0px -1.5px 0px 0px rgba(0, 0, 0, 0.26);
    }
}

/**************************************
*   SMALL
**************************************/
@media only screen and (min-width: 450px ) and (max-width: 767.25px)
{

    #backLayer
    {
        display: block;
    }
    //hidding the not need ui for other sizes
    #mediumSizeLayer
    {
        display: none;
    }

    #nav 
    {
        opacity: 0;
    }

    main
    {
        width: 100%;
        position: absolute;
        top: 60px;
        background-color: rgba(255,255,255,.85);
        min-height: 90vh;
        padding-bottom: 75px;
    }
    main > section#mobile
    {
        position: sticky;
        top: calc(100vh - 56px);
        height: 56px;
        padding-left: 16px;
        line-height: 56px;
        background-color: rgba(66,164,245,.85);
        box-shadow: 0px -1.5px 0px 0px rgba(0, 0, 0, 0.26);
    }
}

/**************************************
*   Medium
**************************************/
@media only screen and (min-width: 768px ) and (max-width: 1079.25px)
{
    
    #mediumSizeLayer
    {
        display: block;
        height: 100vh;
    }

    //hidding the not need ui for other sizes
    #backLayer
    {
        display: none;
    }
    main
    {
        width: 100%;
        position: absolute;
        top: 130px;
        background-color: rgba(255,255,255,.85);
        min-height: 90vh;       
        padding-bottom: 75px;
    }
    main > section#mobile
    {
        position: sticky;
        background-color: rgba(66,164,245,.85);
        box-shadow: 5px 0 2px 0 rgba(0,0,0, .26);
        top: calc(100vh - 56px);
        height: 56px;
        padding-left: 16px;
        line-height: 56px;
    }
}

/**************************************
*   Large
**************************************/
@media only screen and (min-width: 1080px )
{
    //hidding the not need ui for other sizes
    #backLayer, #mediumSizeLayer, section#mobile
    {
        display: none;
    }
    main
    {
        background-color: $mainColor;
        height: 100vh;
        display: flex;
        width: 100%;
        
    }
    article
    {
        flex: 80%;
        background-color: rgba(255,255,255,.85);
    }
    main > nav
    {
        flex: 20%;
        background-color: $mainColor;
    }

    
    
}