/*
*   Author: Sean O'Brien
*   Create Date: 08/20/2018
*   Modifly Date: 03/27/2019
*   Discription: This where going host all our custom rules and modifcation to Google Material API to make more out the box API
*/
/*
*   modifcation to Materal 
*/

@import 'theme';

$mainColor: rgba(66,164,245,1);
$secondaryColor : rgba(255,171,55,1);


html, body
{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

//define fx class
.column
{
    display: flex;
    flex-direction: column;
}
.row
{
    display: flex;
    flex-flow: row wrap;
}
.fx-10
{
    flex: 10%;
}
.fx-50
{
    flex: 50%;
}
.fx-100
{
    flex: 100%;
}
.fx-25
{
    flex:25%;
}
.fx-33
{
    flex: 33%;
}
.fx-75
{
    flex: 75%;
}
.fx-auto
{
    display: flex;
    flex: auto;
}

.fx-flex-end
{
    justify-content: flex-end;
}
.fx-flex-start
{
    justify-content: flex-start;
}
.fx-vertical-align
{
    align-items: center;
    align-content: center;
}

.fx-hidden
{
    display: none !important;
}
.fx-show
{
    display: block !important;
}
.fx-text-end
{
    text-align: end;
}

.fx-width-100
{
    width: 100%;
}

.fx-left
{
    justify-content: flex-end;
}
.fx-middle
{
    justify-content: center;
}

.mat-divider-vertical
{
    padding-left: 5px;
}
.fx-visable
{
    opacity: 1;
}
.fx-notvisable
{
    opacity: 0;
}


//backlayer css

#backLayer
{
    background-color: $mainColor;
    min-height: 100vh;
    z-index: 1;
}

#backLayer > mat-toolbar > svg
{
    background-image: url('./assets/images/pencil.svg');
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 50px;
    height: 50px;
    margin-right: 12px;
}

#backLayer > mat-nav-list > mat-list-item.active
{
    background-color: $secondaryColor;
}


/***********************************
*   Medium Size Nav
************************************/
#mediumSizeLayer
{
    padding-bottom: 40px;
    background-color: $mainColor
}

.openDropDownNav
{
    animation-name: OpenDropDownNav;
    -moz-animation-name: OpenDropDownNav;
    -webkit-animation-name: OpenDropDownNav;
    -moz-animation-duration: 200ms;
    -webkit-animation-duration: 200ms;
    animation-duration: 200ms;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.0, 1, 1);
    -moz-animation-timing-function: cubic-bezier(0.4, 0.0, 1, 1);
    animation-timing-function: cubic-bezier(0.4, 0.0, 1, 1);
}
.closeDropDownNav
{
    animation-name: CloseDropDownNav;
    -moz-animation-name: CloseDropDownNav;
    -webkit-animation-name: CloseDropDownNav;
    animation-duration: 300ms;
    -moz-animation-duration: 300ms;
    -webkit-animation-duration: 300ms;
    -webkit-animation-timing-function:  cubic-bezier(0.0, 0.0, 0.2, 1);
    -moz-animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
    animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}
.iconRotate
{
    animation-name: IconRotate;
    -moz-animation-name: IconRotate;
    -webkit-animation-name: IconRotate;
    animation-duration: 200ms;
    -moz-animation-duration: 200ms;
    -webkit-animation-duration: 200ms;
    -webkit-animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
    -moz-animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
    animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

#mediumSizeLayer > mat-toolbar > mat-toolbar-row > svg
{
    background-image: url('./assets/images/pencil.svg');
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 50px;
    height: 50px;
    margin-right: 12px;
}
#mediumSizeLayer > mat-toolbar > mat-toolbar-row > nav.mat-tab-nav-bar
{
    width: 100%;
    display: flex;
    justify-content: center;
}
#mediumSizeLayer > mat-toolbar > mat-toolbar-row > nav.mat-tab-nav-bar > div.mat-tab-links > a.mat-tab-link
{
    padding-left: 12px;
    padding-right: 12px;
    min-width: 100px;
}



/*************************************
*   Sign In CSS
**************************************/
#signin
{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: $mainColor;
    top: 0;
    padding: 15px;
}
#signin > div
{
    align-items: center;
    justify-content: center;
    height: 100vh;

}
#signin > div >  svg
{
    background-image: url('./assets/images/pencil.svg');
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    background-size: 100px;
    width: 100px;
    height: 100px;

}
#signin > div > h1
{
    position: relative;
    
    
}

.group
{
    box-shadow: 0px .5px 2px 0px rgba(0, 0, 0, 0.26);
    margin-bottom: 10px;
}
.group > div
{
    background-color: rgba(255,255,255,.20);
    padding: 5px;
    display: flex;
}
mat-form-field.mat-form-field
{
   font-size: 15px;
}
input:-internal-autofill-previewed, input:-internal-autofill-selected, textarea:-internal-autofill-previewed, textarea:-internal-autofill-selected, select:-internal-autofill-previewed, select:-internal-autofill-selected 
{
    background-color: $mainColor !important;
}

/**********************************
*   Filter CSS
**********************************/
#filter
{
    position: absolute;
    top: 0;
    background-color: $mainColor;
    display: block;
    height: 100vh;
}
#filter > section
{
    background: rgba(255,255,255,.85);
    padding: 15px 15px 15px 15px;
    height: 100vh;   
}
#filter > section > mat-toolbar
{
    margin-bottom: 10px;
}
#filter > section > mat-toolbar > h3
{
    line-height: 2.5;
    padding-right: 15px;
}
#filter > section > mat-toolbar > i
{
    line-height: 3;
}
.group
{
    box-shadow: 0px .5px 2px 0px rgba(0, 0, 0, 0.26);
    margin-bottom: 10px;
}
.group > div
{
    background-color: rgba(255,255,255,.20);
    padding: 5px;
    display: flex;
}

mat-basic-chip
{
    height: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: .75px solid rgba(0, 0, 0, .12);
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 6px;
    margin: 4px;
    text-transform: uppercase;
}
mat-basic-chip.selected
{
    border: .75px solid $secondaryColor;
    background-color: rgba(255,171,55,.85);  
}
mat-basic-chip:active, mat-basic-chip:hover
{
    background-color: rgba(255,171,55,.25);
    cursor: pointer;
}

/***********************************
*   Shopping Cart 
************************************/
.shoppingCartTabContainer
{
    height: 55px;
    line-height: 55px;
}
.shoppingCartTabCorner
{
    height: 55px;
    width: 55px;
    background-color: $secondaryColor;
    display: flex;
    justify-content: center;
    align-items: center;
}

/**********************************
*   Full Detail Shopping Cart 
**********************************/
#fullDetailShoppingCart
{
    position: absolute;
    top: 0;
    background-color: $mainColor;
    display: block;
    height: 100%;
    width: 100vw;
}
.skirt
{
    display: block;
}
.productHolder
{
    max-height: 315px;
    overflow-y: scroll; 
}

#fullDetailShoppingCart > section
{
    background: rgba(255,255,255,.85);
    padding: 15px 15px 15px 15px;
    height: 100%;
    
}
#fullDetailShoppingCart > section > mat-toolbar
{
    margin-bottom: 10px;
}
#fullDetailShoppingCart > section > .group > div > h3
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
.productItem
{
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    margin-bottom: 2px;
}
.productImg 
{
    width: 75px;
    display: flex;
    justify-content: center;
}
.productImg > img
{
    width: auto;
    height: auto;
    max-width: 75x;
    height: 75px;
}
.productRemover
{
    display: flex;
    align-items: center;
    width: 50px;
}

.companyName
{
    font-variant-caps: all-small-caps;
    margin-right: 30px;
}
.productName
{
    font-weight: bold;
    font-size: 15px;
}

.quantity > div
{
    line-height: 3;
}

#subCost
{
    line-height: .5;
}


/***********************************
*   Shopping Cart  Tab 
************************************/
.shoppingCartTabItems.row
{
    display: flex;
    flex-direction: row;
}
.shoppingCartTabItems.column
{
    display: flex;
    flex-direction: column;
}
.slot
{
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 5px;
}
.slot.row
{
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 45px;
    width: 45px;
}
.slot.column
{
    margin-bottom: 5px;
    height: 45px;
    width: 45px;
}
.slot > img
{
    border-radius: 5px;
    width: auto;
    height: auto;
    max-width: 45px;
    max-height: 45px;
}
.slot > div
{
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    height: 45px;
}

/**********************************
*   Custom product item
**********************************/
mat-grid-list
{
    padding-top:  12px;
    margin-bottom: 12px;
}
mat-grid-tile
{
    background-color: white;
    cursor: pointer;
}
.mat-grid-tile .mat-grid-tile-footer, .mat-grid-tile .mat-grid-tile-header
{
    height: 66px !important;
}
.matTooltipClass
{
    background-color: $secondaryColor;
    color: black !important;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.56);
}

#productInfo
{
    background-color: rgba(255,255,255,.55);
    width: 100%;
}
#ImgContainer 
{
    background-color: rgba(0,0,0,.75);
}
#productInfo > div#ImgContainer >img
{
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}
#productInfo > #productContent
{
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
}
div#productDiscription > div
{
    padding-bottom: 5px;
}
#actionBar
{
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
    color: white;
}
#slideShowActionBar
{
    color: white;
    font-size: 8px;
    margin-right: 15px;
    margin-bottom: 5px;
}
#slideShowActionBar > i
{
    padding-left: 5px;
}
.mat-figure > img
{
    height: 100%;
}

/***********************************
*   Custom Animation CSS
************************************/
@keyframes OpenDropDownNav
{
    from
    {
        top: 60px;
    }
    to
    {
        top: 400px;
    }
}
@keyframes CloseDropDownNav
{
    from
    {
        top: 400px;
    }
    to
    {
        top: 60px;
    }
}
@keyframes IconRotate
{
    from
    {
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to
    {
        transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
}

@keyframes OpenAuthPC
{
    from
    {
        right: 100vw;
    }
    to
    {
        right: 73vw;
    }

}
@keyframes CloseAuthPC
{
    from
    {
        right: 73vw;
    }
    to
    {
        right: 100vw;
        display: none;
    }

}
@keyframes OpenAuthTablet
{
    from
    {
        left: 100vw;
    }
    to
    {
        left: 51vw;
    }
}
@keyframes CloseAuthTablet
{
    from
    {
        right: 51vw;
    }
    to
    {
        right: 100vw;
    }
}
@keyframes OpenAuthPhone
{
    from
    {
        right: 100vw;
    }
    to
    {
        right: 0vw;
    }
}
@keyframes CloseAuthPhone
{
    from
    {
        right: 0vw;
    }
    to
    {
        right: 100vw;
    }
}

@keyframes OpenFilterPC
{
    from
    {
        left: 100vw;
    }
    to
    {
        left: 75vw;
    }

}
@keyframes CloseFilterPC
{
    from
    {
        left: 75vw;
    }
    to
    {
        left: 100vw;
        display: none;
    }

}
@keyframes OpenFilterTablet
{
    from
    {
        left: 100vw;
    }
    to
    {
        left: 55vw;
    }
}
@keyframes CloseFilterTablet
{
    from
    {
        left: 55vw;
    }
    to
    {
        left: 100vw;
    }
}
@keyframes OpenFilterPhone
{
    from
    {
        left: 100vw;
    }
    to
    {
        left: 0vw;
    }
}
@keyframes CloseFilterPhone
{
    from
    {
        left: 0vw;
    }
    to
    {
        left: 100vw;
    }
}

@keyframes OpenFullCartDetailPC
{
    from
    {
        left: 100vw;
    }
    to
    {
        left: 75vw;
    }

}
@keyframes CloseFullCartDetailPC
{
    from
    {
        left: 75vw;
    }
    to
    {
        left: 100vw;
        display: none;
    }

}
@keyframes OpenFullCartDetailTablet
{
    from
    {
        left: 100vw;
    }
    to
    {
        left: 55vw;
    }
}
@keyframes CloseFullCartDetailTablet
{
    from
    {
        left: 55vw;
    }
    to
    {
        left: 100vw;
    }
}
@keyframes OpenFullCartDetailPhone
{
    from
    {
        left: 100vw;
    }
    to
    {
        left: 0vw;
    }
}
@keyframes CloseFullCartDetailPhone
{
    from
    {
        left: 0vw;
    }
    to
    {
        left: 100vw;
    }
}
/*************************************
*    X-SMALL
**************************************/
@media only screen and (max-width: 449.25px)
{
    #backLayer
    {
        display: block;
    }
    //hidding the not need ui for other sizes
    #mediumSizeLayer, #pc, nav
    {
        display: none;
    }
    #nav
    {
        opacity: 0;
    }
    main
    {
        position: absolute;
        top: 60px;
        width: 100%;
        height: calc(100% - 56px - 60px);
        background-color: rgba(255,255,255,.85);
        box-shadow: 0px -1.5px 0px 0px rgba(0, 0, 0, 0.26);
    }
    #mobile
    {
        position: absolute;
        top: calc(100vh - 56px);
        width: 100vw;
        line-height: 56px;
        background-color: $mainColor;
        box-shadow: 0px -1.5px 0px 0px rgba(0, 0, 0, 0.26);
    }
    article
    {
        height: 100%;
        overflow-y: scroll;
        margin-bottom: 120px;
    }
    
    div.card > div.row
    {
        display: flex;
        justify-content: center;
    }
    div.card > div.row > div.column
    {
        padding-left: 12px;
        padding-right: 12px;
    }
    div.card > div.row > div.column > div.row
    {
        display: flex;
        text-align: center;
    }
    div.card > div.row > div.preview > img
    {
        width: auto;
        height: auto;
        max-width: 200px;
        max-height: 200px;
    }
    div.card > div.column > div.large > img
    {
        width: auto;
        height: auto;

        max-width: 328px;
        height: 328px;
    }
    div.card > div.column > div.large
    {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    div.card > div.column 
    {
        padding-left: 12px;
        padding-right: 12px;
    }

    #shoppingCartContent > div.group > div.column > div.preview > img
    {
        width: auto;
        height: auto;
        max-width: 100px;
        max-height: 100px;
    }

    #filter
    {
        overflow: auto;
    }
    #filter > section
    {
        overflow-y: scroll;
        
    }

    #fullDetailShoppingCart
    {
        overflow: auto;
    }

    #fullDetailShoppingCart > section
    {
        overflow-y: scroll;
    }
    .openFullCartDetail
    {
        animation-name: OpenFullCartDetailPhone;
        animation-duration: 515ms;
        animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    }
    .closeFullCartDetail
    {
        animation-name: CloseFullCartDetailPhone;
        animation-duration: 350ms;
        animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    }

    .openFilter
    {
        animation-name: OpenFilterPhone;
        animation-duration: 515ms;
        animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    }
    .closeFilter
    {
        animation-name: CloseFilterPhone;
        animation-duration: 350ms;
        animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    }
}

/**************************************
*   SMALL
**************************************/
@media only screen and (min-width: 450px ) and (max-width: 767.25px)
{

    #backLayer
    {
        display: block;
    }
    //hidding the not need ui for other sizes
    #mediumSizeLayer, #pc, nav
    {
        display: none;
    }

    #nav 
    {
        opacity: 0;
    }

    main
    {
        position: absolute;
        top: 60px;
        width: 100vw;
        height: calc(100% - 56px - 60px);
        background-color: rgba(255,255,255,.85);
        box-shadow: 0px -1.5px 0px 0px rgba(0, 0, 0, 0.26);
    }
    #mobile
    {
        position: absolute;
        top: calc(100vh - 56px);
        width: 100%;
        line-height: 56px;
        background-color: $mainColor;
        box-shadow: 0px -1.5px 0px 0px rgba(0, 0, 0, 0.26);
    }
    article
    {
        height: 100%;
        overflow-y: scroll;
        margin-bottom: 120px;
    }
    .groupListing
    {
        min-height: 200px;
        background-color: white;
        padding: 9px;
        margin-bottom: 9px;
        margin-top: 9px;
        border-radius: 4px;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
        display: flex;
        justify-content: center;
    }

    article
    {
        padding-left: 12px;
        padding-right: 12px;

        overflow-y: scroll;
    }
    div.card > div.row
    {
        display: flex;
        justify-content: center;
    }
    div.card > div.row > div.column
    {
        padding-left: 12px;
        padding-right: 12px;
        
        
    }
    div.card > div.row > div.column > div.row
    {
        display: flex;
        text-align: center;
        
    }
    div.card > div.row > div.preview > img
    {
        width: auto;
        height: auto;
        max-width: 200px;
        max-height: 200px;
    }
    div.card > div.column > div.large > img
    {
        width: auto;
        height: auto;

        max-width: 328px;
        height: 328px;
    }
    div.card > div.column > div.large
    {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    div.card > div.column 
    {
        padding-left: 12px;
        padding-right: 12px;
    }

    #shoppingCartContent > div.group > div.column > div.preview > img
    {
        width: auto;
        height: auto;
        max-width: 100px;
        max-height: 100px;
    }
    

    #fullDetailShoppingCart > section
    {
        overflow-y: scroll;
    }
    .openFullCartDetail
    {
        animation-name: OpenFullCartDetailPhone;
        animation-duration: 515ms;
        animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    }
    .closeFullCartDetail
    {
        animation-name: OpenFullCartDetailPhone;
        animation-duration: 350ms;
        animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    }
    .openFilter
    {
        animation-name: OpenFilterPhone;
        animation-duration: 515ms;
        animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    }
    .closeFilter
    {
        animation-name: OpenFilterPhone;
        animation-duration: 350ms;
        animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    }
}


/**************************************
*   Medium
**************************************/
@media only screen and (min-width: 768px ) and (max-width: 1079.25px)
{
    
    #mediumSizeLayer
    {
        display: block;
        height: 100vh;
    }

    //hidding the not need ui for other sizes
    #backLayer, #pc, nav
    {
        display: none;
    }
    main
    {
        position: absolute;
        top: 130px;
        width: 100%;
        height: calc(100% - 56px - 130px);
        background-color: rgba(255,255,255,.85);
        box-shadow: 0px -1.5px 0px 0px rgba(0, 0, 0, 0.26);
    }
    #mobile
    {
        position: absolute;
        top: calc(100vh - 56px);
        width: 100vw;
        line-height: 56px;
        background-color: $mainColor;
        box-shadow: 0px -1.5px 0px 0px rgba(0, 0, 0, 0.26);
    }
    article
    {
        height: 100%;
        overflow-y: scroll;
        margin-bottom: 120px;
        padding-left: 12px;
        padding-right: 12px;
    }

    div.card > div.row
    {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        padding-left: 12px;
        padding-right: 12px;
        align-items: center;
        
    }
    div.card > div.row > div.column
    {
        padding-left: 12px;
        padding-right: 12px;
    }
    div.card > div.row > div.column > div.row
    {
        display: flex;
        text-align: center;
    }
    div.card > div.row > div.preview > img
    {
        width: auto;
        height: auto;

        max-width: 200px;
        height: 200px;
    }
    div.card > div.column > div.large > img
    {
        width: auto;
        height: auto;
        max-width: 600px;
        max-height: 600px;
    }
    div.card > div.column > div.large
    {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    div.card > div.column 
    {
        padding-left: 12px;
        padding-right: 12px;
    }

    #shoppingCartContent > div.group > div.column > div.preview > img
    {
        width: auto;
        height: auto;
        max-width: 200px;
        max-height: 200px;
    }

    #filter
    {
        left: 55vw;
        width: 45vw !important;
    }
    

    #fullDetailShoppingCart
    {
        left: 55vw;
        width: 45vw;
    }
    .skirt
    {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, .56);
    }
    .openFullCartDetail
    {
        animation-name: OpenFullCartDetailTablet;
        animation-duration: 515ms;
        animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    }
    .closeFullCartDetail
    {
        animation-name: CloseFullCartDetailTablet;
        animation-duration: 350ms;
        animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    }
    .openFilter
    {
        animation-name: OpenFullCartDetailTablet;
        animation-duration: 515ms;
        animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    }
    .closeFilter
    {
        animation-name: CloseFullCartDetailTablet;
        animation-duration: 350ms;
        animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    }

    #signin
    {
        width: 45vw;
        right:  51vw;
    }
    

}

/**************************************
*   Large
**************************************/
@media only screen and (min-width: 1080px )
{
    //hidding the not need ui for other sizes
    #backLayer, #mediumSizeLayer, section#mobile
    {
        display: none;
    }
    main
    {
        background-color: $mainColor;
        height: 100vh;
        display: flex;
        width: 100%;
        box-shadow: 0 0 0 0 ;
    }
    article
    {
        flex: 80%;
        background-color: rgba(255,255,255,.85);
        box-shadow: -1.5px 0px 2px 0px rgba(0, 0, 0, 0.26);
    }
    main > nav
    {
        flex: 20%;
        background-color: $mainColor;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
    nav > div.column > div > svg
    {
        background-image: url('./assets/images/pencil.svg');
        background-position: center;
        background-repeat: no-repeat;
        transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        background-size: 40px;
        width: 50px;
        height: 50px;
        padding-top: 180px;

    }
    nav > div.column > div > h1
    {
        position: relative;
        top: -100px;
    }
    nav > div.column > mat-nav-list
    {
        position: relative;
        top: -100px;
    }
    #main > nav > div.column > mat-nav-list > mat-list-item.active
    {
        background-color: $secondaryColor;
    }
    #pc 
    {
        box-shadow: -1.5px 0px 0px 0px rgba(0, 0, 0, 0.26);
    }
    #pc > div.column
    {
        height: 99vh;
        width: 56px;
        padding-top: 12px;
        padding-bottom: 12px;
        align-items: center;
    }
    article
    {
        padding-left: 12px;
        padding-right: 12px;

        overflow-y: scroll;
    }
    div.card > div.row
    {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        padding-left: 12px;
        padding-right: 12px;
        align-items: center;
    }
    div.card > div.row > div.column
    {
        padding-left: 12px;
        padding-right: 12px;
    }
    div.card > div.row > div.column > div.row
    {
        display: flex;
        text-align: center;
    }
    div.card > div.row > div.preview > img
    {
        width: auto;
        height: auto;

        max-width: 200px;
        height: 200px;
    }
    div.card > div.column > div.large > img
    {
        width: auto;
        height: auto;

        max-width: 700px;
        max-height: 700px;
    }
    div.card > div.column > div.large
    {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    div.card > div.column 
    {
        padding-left: 12px;
        padding-right: 12px;
    }
    
    #shoppingCartContent > div.group > div.column > div.preview > img
    {
        width: auto;
        height: auto;
        max-width: 250px;
        max-height: 250px;
    }
    #filter
    {
        left: 75vw;
        width: 25vw !important;
    }

    #fullDetailShoppingCart
    {
        left:  75vw;
        width: 25vw;
    }
    .skirt
    {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, .56);
    }

    .openFullCartDetail
    {
        
        animation-name: OpenFullCartDetailPC;
        animation-duration: 515ms;
        animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    }
    .closeFullCartDetail
    {
        
        animation-name: CloseFullCartDetailPC;
        animation-duration: 350ms;
        animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    }
    .openFilter
    {
        
        animation-name: OpenFullCartDetailPC;
        animation-duration: 515ms;
        animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    }
    .closeFilter
    {
        
        animation-name: CloseFullCartDetailPC;
        animation-duration: 350ms;
        animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    }

    #signin
    {
        width: 25vw;
        right:  73vw;
    }

}