<div id="shoppingCart">
    <div id="shoppingCartContent">
        <mat-toolbar>
            <mat-toolbar-row>
                    <button id="navButton" mat-icon-button (click)="Close()" ><i class="fas fa-angle-down"></i></button>
                    <h3>Your Cart</h3>
                    <span class="fx-auto"></span>
                    <i class="fas fa-shopping-cart"></i> 
            </mat-toolbar-row>
        </mat-toolbar>
        <div class="row group">
            <div class="column fx-10">
                <button mat-icon-button><i class="fas fa-times"></i></button>
            </div>
            <div class="column fx-25">
                <div class="preview">
                    <img src="../../assets/images/pencil/accessory/derwentAcademySketchPadGrayA5.jpg">
                </div>
            </div>
            <div class="column fx-50">
                <div class="row">
                    <div class="fx-50">
                        <h4>Derwent</h4>
                    </div>
                    <div class="price fx-50">
                        <h4>$0.00</h4>
                    </div>
                </div>
                <div class="row">
                    <h3><b>Derwent Academy Sketch Pad, Gray, A5, Portrait</b></h3>
                </div>
                <div class="row">
                    <button mat-mini-fab><i class="fas fa-plus"></i></button>
                    1
                    <button mat-mini-fab><i class="fas fa-minus"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>