<div class="card" *ngFor="let product of productList" (click)="Test()">
    <div class="row fx-100">
        <div>
            <img [src]="product.image">
        </div>
        <div class="column fx-75">
            <div class="row">
                <h2 class="fx-100">{{product.name}}</h2>
            </div>
            <div class="row">
                <div class="fx-50">
                    <h4>by {{product.company}}</h4>
                </div>
                <div class="fx-50">
                    <h4>{{product.price | currency}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>
